{% extends 'layout.html' %}
{% block body %}
<div id = "about">
	<h4>
	Unlock Boston is an interactive documentary series about the fascinating and all-but-forgotten stories of Boston. From a deadly flood of molasses that buried Boston’s waterfront to a book bound wholly in the skin of a convicted thief, the city is full of history that has been lost to time. Each story, told through a dedicated video segment, is accessed by a point of interest on the map. Unlock Boston is distributed online and as a mobile application. Our goal is to enrich the relationship Bostonians have to their own city by altering their perspective of the places they pass every day.</h4>
	<br />
	<h4>
	Unlock Boston was developed and produced by <a href = "http://www.lucashapiro.com" target = "_blank">Luca Shapiro</a> in collaboration with <a href = "http://www.hiyeshin.com" target = "_blank">Hiye Shin</a> and <a href = "http://gavinmh.github.io" target = "_blank">Gavin Hackeling</a>.
	</h4>

</div>

<div id = 'skyline'>
	<img src="/static/img/SkylineGrey.png" alt="Skyline Grey" width="1000" height="166">
</div>

{% end %}