<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- if you plan to use this example, download drag dealer from
    https://code.google.com/p/dragdealer/ instead of hotlinking it like this -->
    <script src='http://dragdealer.googlecode.com/svn/tags/0.9.5/dragdealer.js'></script>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
    <link href='/static/css/mapbox.css' rel='stylesheet' />

    <link href='/static/css/map.css' rel='stylesheet' type='text/css' />
    <link href='/static/css/style.css' rel='stylesheet' type='text/css' />

	<script type="text/javascript" src="//use.typekit.net/egn0iof.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
</head>

<body>
<div id='header'>
        <div id='navigation'>
            <a href="/about">About</a>
            <a href="/">Submit a Story</a>
            <a href="/sources">Sources</a>
            <div id='logo'><img src="/static/img/LogoBanner400.png" alt="Unlock Boston" width="350" height="83"></div>
        </div>
 </div><!-- END header -->

{% block body %}{% end %}

</body>


