<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

  <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />
    <link href='/static/map.css' rel='stylesheet' type='text/css' />

  <style>

  </style>
</head>

<body>

<div id='map'></div>
<div id='overlay'>this is the box that will contain the list of POI's</div>

<script>
    // GeoJSON input features
    // The image and url properties of the features will be used in
    // the tooltips
    var features = [{
        "geometry": { "type": "Point", "coordinates": [-71.06155264816285, 42.365711128482284]},
        "properties": {
            "image": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/DCmontage4.jpg/250px-DCmontage4.jpg",
            "url": "",
            "city": "Boston",
            "name": "POI3"
        }
    }, {
        "geometry": { "type": "Point", "coordinates": [-71.06155264816285, 42.361711128482284]},
        "properties": {
            "image": "http://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Chicago_montage.jpg/300px-Chicago_montage.jpg",
            "url": "",
            "city": "Boston",
            "name": "POI2"
        }
    }, {
        "geometry": { "type": "Point", "coordinates": [-71.06555264816285, 42.361711128482284]},
        "properties": {
            "image": "http://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/NYC_Montage_2011.jpg/275px-NYC_Montage_2011.jpg",
            "url": "",
            "city": "Boston",
            "name": "POI1"
        }
    }];

    // Create map
    var map = mapbox.map('map');
    map.addLayer(mapbox.layer().id('gavinh.NP_Map_v3'));

    // Create and add marker layer
    var markerLayer = mapbox.markers.layer().features(features);

    // Replace the markerLayer factory function
    markerLayer.factory(function(m) {
        // Create a marker using the simplestyle factory
        var elem = mapbox.markers.simplestyle_factory(m);

        // Add function that centers marker on click
        MM.addEvent(elem, 'click', function(e) {
            console.log(m.properties.city);
            $('#overlay').append('<p>' + m.properties.city + '</p>');
            map.ease.location({
                lat: m.geometry.coordinates[1],
                lon: m.geometry.coordinates[0]
            }).zoom(map.zoom()).optimal();
        }); 

        return elem;
    }); 

    var interaction = mapbox.markers.interaction(markerLayer);
    map.addLayer(markerLayer);

    // Set a custom formatter for tooltips
    // Provide a function that returns html to be used in tooltip
    interaction.formatter(function(feature) {
        var o =
            '<img src="' + feature.properties.image + '">' +
            '<h2>' + feature.properties.name + '</h2>' +
            '</a>';

        return o;
    });

    // Set iniital center and zoom
    map.centerzoom({
        lat: 42.361711128482284,
        lon: -71.06155264816285
    }, 16);

</script>
</body>
</html>