{% extends 'layout.html' %}
{% block body %}

Armed and Ready

Discover Boston: Beantown’s Untold Stories by Bob Cushing
What They Never Told You About Boston (Or What They Did That Were Lies) by Walt Kelley
Images:
Boston Public Library


A Sticky Situation

What They Never Told You About Boston (Or What They Did That Were Lies) by Walt Kelley
Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between by Ted Clarke
Images:
Boston Public Library


From Fruit to Philanthropy

Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between by Ted Clarke
Images:
Boston Public Library


The Parkman House

Murder at Harvard, PBS
Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between by Ted Clarke
Images:
The Francis A. Countway Library of Medicine
Massachusetts Historical Society


The Skin Off His Back

Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between by Ted Clarke
Massachusetts Curiosities by Bruce Gellerman and Erik Sherman
Images:
The Boston Athenaeum
The Boston Globe archives

Henry Knox

Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between by Ted Clarke
http://www.t3consortium.com/research/generalhenryknox.php
Images:
The Henry Knox Museum

Purple Panes

Discover Boston: Beantown’s Untold Stories by Bob Cushing
Images:
Boston Public Library

Peter Faneuil

Boston Sites & Insights: An Essential Guide to Historic Landmarks In and Around Boston by Susan Wilson
Images:
Boston Public Library

Joseph Warren

Boston Sites & Insights: An Essential Guide to Historic Landmarks In and Around Boston by Susan Wilson
Images:
The Francis A. Countway Library of Medicine

Puritan Punishment
Curious Punishments of Bygone Days by Alice Morse Earle
http://www.history.org/foundation/journal/spring03/branks.cfm
http://historyreadings.com/ne/punish/015.html
Images:
Illustrations from Curious Punishments of Bygone Days by Alice Morse Earle

Anthony Burns

The Trials of Anthony Burns by Albert J. Von Frank
http://massmoments.org/moment.cfm?mid=153
http://www.classroomelectric.org/volume2/folsom/fugitive/index-critintro.html
http://www.masshist.org/longroad/01slavery/burns.htm
http://housedivided.dickinson.edu/ugrr/case_1854.htm
http://www.culturaltourismdc.org/node/1360
http://www.nytimes.com/books/98/03/08/reviews/980308.08reynolt.html
Images:
Massachusetts Historical Society
New York Public Library


{% end %}