{% extends 'layout.html' %}
{% block body %}

<div class = "sources">

<h5>Fallen Patriot</h5>
<h4>Boston Sites & Insights: An Essential Guide to Historic Landmarks In and Around Boston by Susan Wilson<br/>
Images courtesy of:<br/>
The Francis A. Countway Library of Medicine
</h4>
<br/>

<h5>A Sticky Situation</h5>
<h4>What They Never Told You About Boston (Or What They Did That Were Lies) by Walt Kelley<br/>
Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between by Ted Clarke<br/>
Images courtesy of:<br/>
The Bostonian Society
The Boston Public Library
</h4>
<br/>

<h5>Anthony Burns</h5>
<h4>The Trials of Anthony Burns by Albert J. Von Frank<br/>
http://massmoments.org/moment.cfm?mid=153<br/>
http://www.classroomelectric.org/volume2/folsom/fugitive/index-critintro.html<br/>
http://www.masshist.org/longroad/01slavery/burns.htm<br/>
http://housedivided.dickinson.edu/ugrr/case_1854.htm<br/>
http://www.culturaltourismdc.org/node/1360<br/>
http://www.nytimes.com/books/98/03/08/reviews/980308.08reynolt.html<br/>
Images courtesy of:<br/>
Massachusetts Historical Society<br/>
The New York Public Library<br/>
</h4>
<br/>

<h5>Inheritance</h5>
<h4>Boston Sites & Insights: An Essential Guide to Historic Landmarks In and Around Boston by Susan Wilson<br/>
Images courtesy of:<br/>
The Boston Public Library
</h4>
<br/>

<h5>The Skin Off His Back</h5>
<h4>Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between by Ted Clarke<br/>
Massachusetts Curiosities by Bruce Gellerman and Erik Sherman<br/>
http://cdm.bostonathenaeum.org/cdm/ref/collection/p15482coll3/id/2763
Images courtesy of:<br/>
The Boston Athenaeum<br/>
The Boston Globe archives
</h4>
<br/>

<h5>The Parkman House</h5>
<h4>Murder at Harvard, PBS<br/>
Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between by Ted Clarke<br/>
Images courtesy of:<br/>
The Francis A. Countway Library of Medicine<br/>
Massachusetts Historical Society
</h4>
<br/>

<h5>Puritan Punishment</h5>
<h4>Curious Punishments of Bygone Days by Alice Morse Earle<br/>
http://www.history.org/foundation/journal/spring03/branks.cfm<br/>
http://historyreadings.com/ne/punish/015.html<br/>
Images courtesy of:<br/>
Illustrations from Curious Punishments of Bygone Days by Alice Morse Earle
</h4>
<br/>

<h5>Henry Knox</h5>
<h4>Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between by Ted Clarke<br/>
Narrative of the life of James Allen [transcript] : alias George Walton, alias Jonas Pierce, alias James H. York, alias Burley Grove, <br/>
the highwayman : being his death-bed confession, to the warden of the Massachusetts state prison<br/>
http://www.t3consortium.com/research/generalhenryknox.php<br/>
Images courtesy of:<br/>
The Henry Knox Museum
</h4>
<br/>

<h5>Armed and Ready</h5>
<h4>Discover Boston: Beantown’s Untold Stories by Bob Cushing<br/>
What They Never Told You About Boston (Or What They Did That Were Lies) by Walt Kelley<br/>
Images courtesy of:<br/>
The Boston Public Library
</h4>
<br/>

<h5>From Fruit to Philanthropy</h5>
<h4>Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between by Ted Clarke<br/>
Images courtesy of:<br/>
The Boston Public Library
</h4>
<br/>

<h5>Purple Panes</h5>
<h4>Discover Boston: Beantown’s Untold Stories by Bob Cushing<br/>
Images courtesy of:<br/>
The Boston Public Library<br/>
Illustrations from Encyclopédie, ou dictionnaire raisonné des sciences, des arts et des métiers, ed. by Denis Diderot and Jean le Rond d'Alembert<br/>
</h4>
<br/>

</div>
{% end %}