{% extends 'layout.html' %}
{% block body %}

<div class = "sources">

<h5>Fallen Patriot</h5>
<h4><i>Boston Sites and Insights: An Essential Guide to Historic Landmarks In and Around Boston</i> by Susan Wilson</h4>
<h4>Images courtesy of: The Francis A. Countway Library of Medicine</h4>
<br/>

<h5>A Sticky Situation</h5>
<h4><i>What They Never Told You About Boston (Or What They Did That Were Lies)</i> by Walt Kelley<br/>
<h4><i>Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between</i> by Ted Clarke</h4>
<h4>Images courtesy of: The Bostonian Society, The Boston Public Library</h4>
<br/>

<h5>Anthony Burns</h5>
<h4><i>The Trials of Anthony Burns</i> by Albert J. Von Frank<br/></h4>
<h4><a href = "http://massmoments.org/moment.cfm?mid=153" target = "_blank">Mass Moments</a></h4>
<h4><a href = "http://www.classroomelectric.org/volume2/folsom/fugitive/index-critintro.html" target = "_blank">Walt Whitman, Emily Dickinson, and the Civil War</a></h4>
<h4><a href = "http://www.masshist.org/longroad/01slavery/burns.htm" target = "_blank">Massachusetts Historical Society</a></h4>
<h4><a href = "http://housedivided.dickinson.edu/ugrr/case_1854.htm" target = "_blank">The Civil War Research Engine at Dickinson College</a></h4>
<h4><a href = "http://www.culturaltourismdc.org/node/1360" target = "_blank">Cultural Tourism DC</a></h4>
<h4><a href = "http://www.nytimes.com/books/98/03/08/reviews/980308.08reynolt.html" target = "_blank">New York Times Books</a></h4>
<h4>Images courtesy of: Massachusetts Historical Society, The New York Public Library
</h4>
<br/>

<h5>Inheritance</h5>
<h4><i>Boston Sites & Insights: An Essential Guide to Historic Landmarks In and Around Boston</i> by Susan Wilson<br/></h4>
<h4>Images courtesy of:The Boston Public Library</h4>
<br/>

<h5>The Skin Off His Back</h5>
<h4><i>Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between</i> by Ted Clarke</h4>
<h4><i>Massachusetts Curiosities</i> by Bruce Gellerman and Erik Sherman</h4>
<h4><a href = "http://cdm.bostonathenaeum.org/cdm/ref/collection/p15482coll3/id/2763" target = "_blank">Boston Athenaum</a>
<h4>Images courtesy of: The Boston Athenaeum, The Boston Globe archives</h4>
<br/>

<h5>The Parkman House</h5>
<h4><i>Murder at Harvard</i>, PBS<br/></h4>
<h4><i>Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between</i> by Ted Clarke</h4>
<h4>Images courtesy of: The Francis A. Countway Library of Medicine, Massachusetts Historical Society</h4>
<br/>

<h5>Puritan Punishment</h5>
<h4><i>Curious Punishments of Bygone Days</i> by Alice Morse Earle</h4>
<h4><a href = "http://www.history.org/foundation/journal/spring03/branks.cfm" target = "_blank">Colonial Williamsburg</a></h4>
<h4><a href = "http://historyreadings.com/ne/punish/015.html" target = "_blank">Capital Punishment</a></h4>
<h4>Images courtesy of: <i>Illustrations from Curious Punishments of Bygone Days</i> by Alice Morse Earle</h4>
<br/>

<h5>Henry Knox</h5>
<h4><i>Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between</i> by Ted Clarke<br/>
Narrative of the life of James Allen [transcript] : alias George Walton, alias Jonas Pierce, alias James H. York, alias Burley Grove, <br/>
the highwayman : being his death-bed confession, to the warden of the Massachusetts state prison<br/>
<h4><a href = "http://www.t3consortium.com/research/generalhenryknox.php" target = "_blank">Consortium, LLC</a></h4>
<h4>Images courtesy of: The Henry Knox Museum</h4>
<br/>

<h5>Armed and Ready</h5>
<h4><i>Discover Boston: Beantown’s Untold Stories</i> by Bob Cushing<br/>
<i>What They Never Told You About Boston (Or What They Did That Were Lies)</i> by Walt Kelley<br/>
Images courtesy of: The Boston Public Library
</h4>
<br/>

<h5>From Fruit to Philanthropy</h5>
<h4><i>Boston Curiosities: A History of Beantown Barons, Molasses Mayhem, Polemic Patriots and the Fluff in Between</i> by Ted Clarke<br/>
Images courtesy of: The Boston Public Library
</h4>
<br/>

<h5>Purple Panes</h5>
<h4>Discover Boston: Beantown’s Untold Stories by Bob Cushing<br/>
Images courtesy of: The Boston Public Library, <i>Illustrations from Encyclopédie, ou dictionnaire raisonné des sciences, des arts et des métiers, ed.</i> by Denis Diderot and Jean le Rond d'Alembert<br/>
</h4>
<br/>

</div>
{% end %}